.wrapper{
	display: grid;
	grid-template-columns:repeat(2, 1fr);
	grid-template-rows: repeat(10, 1fr);
}
.CNCB{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 10;
	display: inline-block;
	vertical-align: middle;
}
.info{
	padding: 40px 20px 0px 20px;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 10;
	grid-row-end: 11;

}